*.pyc
__pycache__/
db.sqlite3
db.sqlite3.old
media/
.env
*.egg-info/
.pytest_cache/
node_modules/
resources/
bin/
tools/
locales/
*.dll
*.exe
*.pak
*.dat
appx/
LICENSES.*
chrome_*
v8_*
d3dcompiler*
dxcompiler*
dxil*
ffmpeg*
icudtl*
libEGL*
libGLES*
snapshot_blob*
vk_swiftshader*
vulkan*
Antigravity.*

# Django (no db or cache)
staticfiles/

# Keep images
!static/images/
.coverage